.quote__wrp {
    background-color: white;
    width: 20em;
    border-radius: 0.75em;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.quote__wrp:hover {
    transform: rotate(-2deg);
}
.quote__sentence {
    color: black;
    font-size: clamp(1rem, 1.8vw, 1.4rem);
    line-height: 1.6;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    padding: 1.5em;
    justify-content: initial;
    text-align: center;
}
.quote__icon {
    opacity: 0.3;
    font-size: 1.7em;
}
.quote__tweet {
    color: #ffedd5;
    opacity: 0.6;
    font-size: 1.7em;
    cursor: pointer;
}
.quote__tweet:hover {
    opacity: 1;
}
.quote__footer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: clamp(0.8rem, 1.6vw, 1.2rem);
    line-height: 1.4;
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
    padding: 1em 1.5em 1em 1.5em;
}
.quote__footer button {
    background: none;
    border: 0;
    box-shadow: none;
    outline: 0;
}
.App {
    /* background-color: #282c34; */
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #fff;
}